.button-g{
  border-radius: 18px;
  background-color: hsl(180, 66%, 49%);
  border-color: transparent;
  color: white;
  
}
.button-n{

  background-color: hsl(180, 66%, 49%);
  border-color: transparent;
}
.button-g:hover{
  background-color: #83DBE6; 
  border-color: transparent;
}
.button-n:hover{
  background-color: #83DBE6; 
  border-color: transparent;
}
