.button-g{
  background-color: hsl(180, 66%, 49%);
  border-color: transparent;
  border-radius: 18px;
  color: white;
  
}
/*
@media screen  and (max-width: 320px){
  .hhh{
    background-image: url("/src/images/bg-boost-mobile.svg");
  }
  .lol{
    background-image: url("/src/images/bg-shorten-mobile.svg");
  }
}
@media (min-width: 800px) and (max-width: 1349px) {
  .hhh{
  background-image: url("/src/images/bg-boost-desktop.svg");
}
.lol{
  background-image: url("/src/images/bg-shorten-desktop.svg");
}
}


*/
.hhh{
  background-image: url("/src/images/bg-boost-desktop.svg");
}
.lol{
  background-image: url("/src/images/bg-shorten-desktop.svg");
}
.kkkk{
  border: none;
  width:90%;
  height:40px;
  border-radius:5px;
  
}
.kkkk:focus{
  border: 2px solid red;
  width:90%;
  height:40px;
  border-radius:5px;
  
}
.button-n{
  background-color: hsl(180, 66%, 49%);
  border-color: transparent;
  border-radius: 5px;
  color: white;
  width:10%;
  height:40px;

}
.button-g:hover{
  background-color: #83DBE6; 
  border-color: transparent;
}
.button-n:hover{
  background-color: #83DBE6; 
  border-color: transparent;
}
.responsive {
  width: 100%;
  height: auto;
}